
@font-face {
  font-family:'SF Pro SC';
  font-style:normal;
  font-weight:400;
  src: url("~assets/css/fonts/PingFangSC-Regular.woff2") format("woff2");
}


.texture
  background-repeat: no-repeat
  background-size cover
  color: transparent !important
  background-clip text
.texture-1
  background-image: url('~assets/img/cupertino/textures/copy_texture_1_large.jpg')
.texture-2
  background-image: url('~assets/img/cupertino/textures/copy_texture_2_large.jpg')

.hardware
  width 30%
  &>img
    width 100%
    display block

.cupertino-page
  font-family "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif
  padding-top: $global_nav_height

  &.black
    background #000
    color: #fff
  .section-row
    .intro
      position: relative
      h1
        font-size 70px
      h2,p
        display inline
        line-height: 1.06
        font-size 64px
        font-weight: bold
      h2
        color: #ffe5db
      sup
        position: static
        vertical-align: super
        font-size: 30px
      .manifesto-shadow
        position: absolute
        left 0
        width 100%
        bottom -10%
        height 300px
        background linear-gradient(to bottom, transparent, #000 75%)
        pointer-events none
