// media query
Phone = "screen and (max-width: 567px)"
$mobile_width = 567px
$mobile_height_land = 485px // 手机横屏高度
$tablet_width = 1024px // 768px
$pcmin_width = 1450px // 1440px
$pc2k_width = 2400px // 2560px

$borderRadius = 5px

// animations

@keyframes spin {
  0% {
    transform rotate(0)
  }
  50% {
    transfrom rotate(180deg)
  }
  100% {
    transform rotate(360deg)
  }
}


// Common Style
$global_nav_height = 52px

// Apple Colors

// Light color (Aqua)
$color_blue = #007aff
$color_brown = #a2845e
$color_gray = #8e8e93
$color_green = #28cd41
$color_indigo = #5856d6
$color_orange = #ff9500
$color_pink = #ff2d55
$color_purple = #af52de
$color_red = #ff3b30
$color_teal = #5ac8fa
$color_yellow = #ffcc00

// Dark color
$color_dark_blue = #0a84ff
$color_dark_brown = #ac8e68
$color_dark_gray = #98989d
$color_dark_green = #32d74b
$color_dark_indigo = #5e5ce6
$color_dark_orange = #ff9f0a
$color_dark_pink = #ff375f
$color_dark_purple = #bf5af2
$color_dark_red = #ff453a
$color_dark_teal = #64d2ff
$color_dark_yellow = #ffd60a

$colorWhite = #fff
$colorBlack = #000
$colorTheme = $color_blue
$colorGrey = #E0E0E0
$boxShadow = 0 1px 6px 0 rgba(32, 33, 36, 0.28)
