$colorWhite = #fff
$colorBlack = #000
$colorTheme = #00b0ff
$colorGrey = #E0E0E0

// media query
Phone = "screen and (max-width: 567px)"
$mobile_width = 567px
$mobile_height_land = 485px // 手机横屏高度
$tablet_width = 1024px // 768px
$pcmin_width = 1450px // 1440px
$pc2k_width = 2400px // 2560px

$borderRadius = 5px

// animations

@keyframes spin {
  0% {
    transform rotate(0)
  }
  50% {
    transfrom rotate(180deg)
  }
  100% {
    transform rotate(360deg)
  }
}


// Common Style
$global_nav_height = 32px
