.page-index
  //overflow-x hidden

  .section-row
    padding 50px 10px
    box-sizing border-box
    line-height: 1.5
    position: relative


    &.section--hero
      visibility visible

    .track-photo
      position: absolute
      top calc((100% - 598px) / 2)
      right 40%
      width 486px
      height 598px
      transform-style preserve-3d
      color: $colorWhite
      //transform rotateX(-15deg) rotateY(-45deg)
      @media screen and (max-width: $pcmin_width)
        top calc((100% - 369px) / 2)
        width 300px
        height 369px
      @media screen and (max-width: $mobile_width)
        right calc((100% - 300px) / 2)

      .layer
        position: absolute
        top 0
        left 0
        width 100%
        height 100%
        font-size 300px
        display flex
        align-items center
        justify-content center
        opacity 0.9
        transform rotateY(-45deg)
        transform-style preserve-3d
        will-change transform

        &:nth-child(1)
          background #f44336

        &:nth-child(2)
          background #4caf50

        //transform scale(0.8)

        &:nth-child(3)
          background #ffeb3b

    //transform scale(0.5)

    //transform scale(0.5)

    &.section--01
      position: relative
      z-index 1
      overflow-x hidden

      .block
        position: absolute
        width 50px
        height 50px
        background magenta
        box-shadow 0 3px 10px rgba(0, 0, 0, .23)

      .block1
        top 40%
        left 0
        background #ff80ab

      .block2
        top 50%
        right 0
        background #1de9b6

    &.section--03
      padding 0
      .sticky
        position sticky
        top 0
        z-index 0
        height 100vh
        $green = #4caf50
        $blue = #2196f3
        .box
          position: absolute
          top calc((100% - 500px) / 2)
          right 10%
          //transform translateY(-50%)
          width 500px
          height 500px
          margin 50px
          border-radius 50%
          box-shadow 0 0 50px rgba(0, 0, 0, 0.33) inset
          *
            transition all 1s
          // 特效太花哨了，不用显示出来
          &.huashao
            &:before
              $wid = 30px
              width $wid
              height $wid
              position: absolute
              content ' '
              border-radius 50%
              background $colorBlack
            &:after
              $wid = 15px
              position: absolute
              top 0
              left $wid
              border-left-width ($wid * 5)
              border-top-width $wid
              border-bottom-width $wid
              border-style solid
              border-color rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) $colorBlack
              content ' '
              transform-origin left
              animation spin 0.5s infinite linear
          &.box1
            background: url("/img/spiral03.jpg") no-repeat center/cover
            z-index 1
            animation spin 5s infinite linear reverse
            &.huashao
              &:hover
                animation-duration 1s
              &:active
                animation-duration 2s
                background-image url("/img/spiral02.jpg")

          &.box2
            z-index 2
            right 4%
            top calc((100% - 200px) / 2 + 20%)
            width 200px
            height 200px
            background: url("/img/spiral01.png") no-repeat center/cover
            animation spin 3s infinite linear
            &.huashao
              &:active
                background-image url("/img/spiral03.jpg")
              &:hover
                animation-duration 1s
              &:before
                $wid = 10px
                width $wid
                height $wid
              &:after
                $wid = 5px
                animation-duration 0.2s
                left $wid
                border-left-width ($wid * 5)
                border-top-width $wid
                border-bottom-width $wid

      .content
        color: $colorWhite
        position relative
        z-index 1
        margin-top  50vh
        height 100vh
        display flex
        align-items center
        background linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
